{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/icon3.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>To-Do List</title>
</head>
<body>

    <div class="header">
        <div class="title"><h1>TO-DO List</h1></div>
        <div class="userinfo">
            {{request.user.username}}
        </div>
    </div>

    <div class="main_body">
        {% block content %}
        
        {% endblock %}
    </div>
    
</body>
</html>